$basic__black: #141517;
$basic__dark-grey: #2C2E3F;
$basic__pink: #FE7865;
$basic__dark-pink: #F17D4B;
$basic__beige: #FBF8F8;
$basic__white: #FFFFFF;

$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width-only: 767px;
