.card_content {
    position: relative;
    width: 350px;
    height: 430px;
}

.card_subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 67px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    width: 215px;
    height: 63px;
    background-color: $basic__white;
}