.complex_title {
    width: 310px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    margin: 40px 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    color: $basic__pink;
}

.complex_text {
    position: relative;
    width: 289px;
    margin-left: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    &::after {
        content: "";
        position: absolute;
        top: 78px;
        left: 0;
        width: 310px;
        height: 2px;
        background-color: $basic__pink;
    }
}

.complex_list   {
    margin-top: 60px;
    list-style: none;
}

.complex_item {
    position: relative;
    width: 200px;
    margin: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;

    &::after {
        content: "";
        position: absolute;
        top: 8px;
        left: -24px;
        width: 14px;
        height: 12px;
        background-image: url(../img/path_black.png);
        background-repeat: no-repeat;
    }
}

.complex_button {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: $basic__white;
    width: 310px;
    height: 75px;
    margin-top: 30px;
    margin-left: 30px;
    border: none;
    background-color: $basic__pink;

    &:hover {
        background-color: $basic__dark-pink;
    }
}