.corp_title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    margin: 0;
    margin-left: 65px;
}

.corp_text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    width: 320px;
    height: 143px;
    margin-left: 65px;
    opacity: 50%;
}