.main-nav {
    width: 1024px;
    height: 35px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.main-nav_logo {
    padding-top: 36px;
}

.main-nav_link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    width: 496px;
    display: flex;
    padding-top: 36px;
    justify-content: space-between;
}

