.promo {
    position: relative;
    width: 1920px;
    height: 860px;
    margin: 0 auto;
    background-image: url(../img/promo.png);
    background-repeat: no-repeat;   
}

.promo_content {
    position: absolute;
    top: 200px;
    right: 470px;
    width: 385px;
    height: 364px;
}

.promo_title {
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 80px;
    text-align: start;
    color: $basic__white;
}

.promo_text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: $basic__white;
}

.promo_link {
    width: 340px;
    height: 75px;
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    align-items: center;
    background-color: $basic__pink;
}

.promo_link2 {
    color: $basic__white;
}